.DS_Store
**/.DS_Store
projects/existing_data_dictionaries/NYC\ -\ Pluto\ Data\ Dictionary/source_files/nyc_pluto_14v2/*.csv
datatools/*.csv
datatools/*/*.csv
datatools/*/*/*.csv
datatools/*/intput/*.*
datatools/*/output/*.*